/*Typical Device Breakpoints

    Pequenas telas: até 600px
    celular: de 600px até 768
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Telas grandes: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {


    .title-txt {
        font-size: 2.5em;
    }

    .txt-animado span {
        font-size: 1.5em;
    }

    .logo-img img {
    width: 7em;
    height: auto;
    }

    .highlights {
        flex-direction: row;
    }

    div .swiper-button-prev{
        display: none;
    }

     div .swiper-button-next{
        display: none;
    }

    section .fundo {
        background: url(../assets/fundo-cm-800.png);
    }

    .card {
        width: 400px;
        height: 242px;
        margin-top: 89px;
        margin-bottom: 89px;
    }

    .contato {
    width: 30%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

    .button::before {
    width: 85px;
    height: 85px;
    background-color: var(--button);
    transition: 0.4s;
    }

   .button {
   cursor: pointer;
   width: 80px;
   height: 80px;
   }

  .button .ph {
  font-size: 3em;
  }

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {

}