@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap");

:root {
  --defaut: #ebdcfb;
  --highlight: #7b2cbf;
  --bg-color: #f4ecff;
  --txt-title: #3e0d63;
  --txt-p: #857c91;
  --button: #d8b4f8;
  --card: #faf7ff;
  --border: #faf7ff;
  --hover: #3c2363;
  /* ICONE DE MENU */
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100%;
  background: var(--bg-color);
}

header {
  display: block;
  padding: 10px 20px;
  margin-bottom: 2em;
  background: var(--defaut);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-img img {
  width: 5em;
  height: auto;
}

.icon-menu {
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--highlight);
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

menu {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--defaut) 10%, var(--bg-color) 100%);
  z-index: 999;
}

menu.ativo {
  display: block;
}

menu.ativo {
  display: block;
}

menu ul {
  list-style-type: none;
}

menu a {
  display: block;
  margin-left: 0;
  padding: 20px;
  text-align: center;
  width: 100vw;
  text-transform: uppercase;
  font-size: 1.25em;
  text-decoration: none;
  color: var(--highlight);
}

menu a:hover {
  background-color: var(--bg-color);
}

main {
  margin-top: 100px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.wrapper {
  margin-top: 2em;
  max-width: 992px;
  overflow: hidden;
}

.wrapper .card {
  height: auto;
  display: flex;
  flex-direction: column;
}

.wrapper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  overflow: hidden;
  opacity: 1;
  background-color: var(--card);
}

.wrapper .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highlight);
  transform: scaleX(0);
  transform-origin: left center;
  animation: autoplay-loading 5s linear forwards;
}

.container:hover .wrapper .swiper-pagination-bullet-active::before {
  animation-play-state: paused;
}

@keyframes autoplay-loading {
  100% {
    transform: scaleX(1);
  }
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
  color: var(--card);
  margin-top: -35px;
  transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
  color: var(--highlight);
}

.wrapper .swiper-button-prev {
  display: none;
}

.wrapper .swiper-button-next {
  display: none;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: flex;
  margin: auto;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  gap: 20px;
}

.highlights-card {
  width: 350px;
  height: auto;
  padding: 10px;
  background-color: var(--defaut);
  border: 2px solid var(--border);
  border-radius: 50px;
  transition: all 0.3s ease;
}

.highlights-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px var(--hover);
}

.title {
  text-align: center;
  font-size: 1.25em;
  padding: 5px;
  text-transform: uppercase;
  color: var(--txt-title);
}

.highlights p {
  color: var(--txt-p);
  text-align: center;
  font-size: 1em;
}

#marcas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brands {
  width: 90vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 1em;
}

.brand {
  border: 3px solid var(--border);
  border-radius: 50%;
  margin-bottom: 0.5em;
  transition: all 0.3s ease;
}

.brand:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px var(--hover);
}

.brand img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  width: 5em;
  height: auto;
}

.title-txt {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  text-transform: uppercase;
  color: var(--highlight);
}

.brand-promotion {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.card {
  width: 300px;

  background: #e6d8f4;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px var(--hover);
}

.desconto {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ffdada;
  color: #cc0033;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
}

.imagem-produto {
  width: 100px;
  margin: 30px auto;
}

.estrelas {
  color: gold;
  font-size: 1.3rem;
  margin: 10px 0;
}

.titulo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.descricao {
  font-size: 0.95rem;
  color: #222;
  margin-bottom: 20px;
}

.preco-antigo {
  text-decoration: line-through;
  color: #888;
}

.preco-novo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 20px;
}

.botao {
  background-color: #6d42c7;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px var(--hover);
}


.botao a {
  color: var(--card);
  text-decoration: none;
}

.botao:hover {
  background-color: #5731a8;
}



footer {
  text-align: center;
  color: var(--highlight);
}
